.purple-color{
    color:#BF00FF;
    }
body{
    font-family:sans-serif;
    color:#66695C;
    line-height:35px;
    }
.half-width{
    width: 50%;
    float: left;
    }
.side-img{
    width: 50%;
    padding-left: 25%;
}
<div class="half-width">
    <img class="side-img" src="images/profile.png" alt="">
</div>
.primary-btn{
    color: black;
    background-color: #BF00FF;
    padding: 13px 42px 13px 42px;
    border-radius: 20px;
    text-decoration: none;
    }
h1{
font-size:2.5em;
    }
.container{
    padding-left:5%;
    display: inline-block;
    }





















